body{
    background-color:black;
    color:gray;
}

header, main, nav, footer{
    text-align:center;
}

nav a{
    padding:15px;
    padding-bottom: 4px;
    font-size:1.8em;
    text-decoration:none;
    color:white;
}

nav a:float{
    border-bottom:2px orange solid;
    font-size:2em;
    transition:.9s;
}

#me{
    float:left;
}

#welcomeText{
    float:left;
    text-align:left;
}

footer{
    clear:left;
    font-size: 1em;
    color: yellow;
}

table{
    margin:0px auto;
}

td{
    padding-right:10px;
    font-size: 1.3em;
}
td strong{
    color: orange;
}

#tableHeader{
    background-color: #351a00;
}
.tableRow{
    background-color: #753900;
}

ul{
    text-align: left;
    padding-left:200px;
}
.list
{
    color:blue;
}

#content{
    text-align: center;
}

h1{
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    margin-bottom: 0px;
}